<div class="container fixed-bottom text-right container-social">
  <div class="row row-social">
    <div class="col-sm">
      <a href="#">
        <fa-icon class="social-links" [icon]="faFacebook"></fa-icon>
      </a>
      <a href="#">
        <fa-icon class="social-links" [icon]="faTwitter"></fa-icon>
      </a>
      <a href="#">
        <fa-icon class="social-links" [icon]="faInstagram"></fa-icon>
      </a>
      <a href="#">
        <fa-icon class="social-links" [icon]="faSnapchat"></fa-icon>
      </a>
      <a href="#">
        <fa-icon class="social-links" [icon]="faGlobe"></fa-icon>
      </a>
    </div>
  </div>
</div>