.container-social {
    margin-right: 5em !important;
}
.row-social {
    margin-bottom: 3em;
}

.social-links {
    color: white;
    margin-left: 2em;
    font-size: 1.5em;
}

.social-links:hover{
    color: grey;
}