<nav class="navbar transparent navbar-inverse fixed-top">
  <div class="container-fluid">
    <div class="navbar-header ml-5">
      <a href="https://www.yang2020.com" 
         target="_blank" 
         class="navbar-brand">
        <img type="image/png"
         src="../assets/img/Yang2020_White.png"
         class="nav-logo-style">
      </a>
    </div>
    <div class="dropdown">
      <button class="btn btn-lg dropdown-toggle toggler-style mr-5" 
              type="button" 
              id="dropdownMenuButton" 
              data-toggle="dropdown" 
              aria-haspopup="true" 
              aria-expanded="false">
        Interviews
      </button>
      <div class="dropdown-menu dropdown-style" 
           aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item dropdown-item-style" 
           href="#">
          with Joe Rogan
        </a>
        <a class="dropdown-item dropdown-item-style" 
           href="#">
          with 
        </a>
        <a class="dropdown-item dropdown-item-style" 
           href="#">
          with Ben Shapiro
        </a>
      </div>
    </div>
  </div>
</nav>
<!--
<button class="navbar-toggler toggler-style nav-vd-style" 
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" 
            aria-expanded="false" 
            aria-label="Toggle navigation">
      VIDEOS <span class="caret caret-show"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
-->