<!--<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    <img type="image/png"
         src="../assets/img/Yang2020_White.png"
         style="width:262px;height:65px;border:0;margin:5px;padding-left:20px;">
         1752x433
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      MAY ADD MORE NAV-ITEMS HERE
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
-->
<nav class="navbar transparent navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="https://www.yang2020.com" target="_blank" class="navbar-brand">
        <img type="image/png"
         src="../assets/img/Yang2020_White.png"
         class="nav-logo-style">
      </a>
    </div> <!-- End nav header -->
    <button class="navbar-toggler toggler-style nav-vd-style" 
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" 
            aria-expanded="false" 
            aria-label="Toggle navigation">
      VIDEOS <span class="caret caret-show"></span>
      <!--<span class="navbar-toggler-icon"></span>-->
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <!--MAY ADD MORE NAV-ITEMS HERE-->
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>